@use '../base/variables' as vars;
@use 'sass:math';

// Variable global para controlar la generación de clases responsive
$generate-responsive-classes: true;

// Estilo general de la fila
$row-gutter: 8px;
$grid-columns: vars.$grid-columns; // Usando el valor de $grid-columns desde _variables.scss

.row {
    --gutter-x: #{$row-gutter};
    --gutter-y: #{$row-gutter};
    display: flex;

    // Hack para el espaciado vertical
    &+.row {
        margin-top: var(--gutter-y);
    }
}

// Estilo general de la columna
.col {
    flex: 1 0 0%;
    padding-inline: calc(var(--gutter-x) / 2);
}

// Estilo para columna auto (ancho automático)
.col-auto {
    flex: 0 0 auto;
    width: auto;
    padding-inline: calc(var(--gutter-x) / 2);
}

// Generación de columnas de 1 a 12 para cada tamaño de columna (breakpoint)
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: math.div(100%, $grid-columns) * $i;
        padding-inline: calc(var(--gutter-x) / 2);
    }
}

// Generación de clases para breakpoints usando las variables importadas
@if $generate-responsive-classes {
    @each $size, $width in vars.$breakpoints {
        @for $i from 1 through $grid-columns {
            .col-#{$size}-#{$i} {
                @media (min-width: #{$width}) {
                    width: math.div(100%, $grid-columns) * $i;
                    padding-inline: calc(var(--gutter-x) / 2);
                }
            }
        }
    }
}

// Tamaños de gutter personalizados
$gutters: (
    0: 0px,
    1: 8px,
    2: 16px,
    3: 32px,
    4: 64px,
    5: 128px
);

@each $index, $size in $gutters {
    .gx-#{$index} {
        --gutter-x: #{$size};
    }

    .gy-#{$index} {
        --gutter-y: #{$size};
    }
}

// Breakpoints específicos para gutters
@if $generate-responsive-classes {
    @each $breakpoint, $width in vars.$breakpoints {
        @each $index, $size in $gutters {
            .gx-#{$breakpoint}-#{$index} {
                @media (min-width: #{$width}) {
                    --gutter-x: #{$size};
                }
            }

            .gy-#{$breakpoint}-#{$index} {
                @media (min-width: #{$width}) {
                    --gutter-y: #{$size};
                }
            }
        }
    }
}